<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.archive.archive_project_backend.repository.SeriesMapper">
    <resultMap id="seriesMap" type="com.archive.archive_project_backend.entity.Series">
        <id property="seriesUuid" column="series_uuid"/>
        <result property="title" column="series_title"/>
        <result property="authorUuid" column="series_author_uuid"/>
        <result property="view" column="series_view"/>
        <result property="createAt" column="series_create_at"/>
        <result property="updateAt" column="series_update_at"/>

        <!-- Category (Series 기준) -->
        <association property="category" javaType="com.archive.archive_project_backend.entity.Category">
            <id property="categoryId" column="category_id"/>
        </association>

        <!-- Writing 목록 -->
        <collection property="writings" ofType="com.archive.archive_project_backend.entity.Writing">
            <id property="writingUuid" column="writing_uuid"/>
            <result property="title" column="writing_title"/>
            <result property="content" column="writing_content"/>
        </collection>
    </resultMap>

    <!--   @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->

    <select id="getSeriesByUuid" resultMap="seriesMap">
        select
            -- Series
            s.series_uuid,
            s.series_title,
            s.author_uuid      AS series_author_uuid,
            s.view             AS series_view,
            s.create_at        AS series_create_at,
            s.update_at        AS series_update_at,

            -- Series Category
            c.category_id,

            -- Writing
            w.writing_uuid,
            w.writing_title,
            w.writing_content

        FROM series s
        LEFT JOIN category c
            ON s.category_id = c.category_id
        LEFT JOIN main_category mc
            ON mc.main_category_id = c.main_category_id
        LEFT JOIN writing w
            ON s.series_uuid = w.series_uuid

        WHERE s.series_uuid = #{seriesUuid}
    </select>

    <insert id="insertSeries">
        insert into
            series(series_uuid, author_uuid, series_title, category_id, create_at, update_at)
        values
            (#{seriesUuid}, #{authorUuid}, #{title}, #{category.categoryId}, now(), now())
    </insert>
</mapper>