<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.archive.archive_project_backend.repository.UserMapper">
    <resultMap id="userMap" type="com.archive.archive_project_backend.entity.User">
        <id property="userUuid" column="user_info_uuid"/>
        <result property="name" column="name"/>
        <result property="bio" column="bio"/>
        <result property="email" column="email"/>
        <result property="banner" column="banner"/>
        <result property="createAt" column="create_at"/>
        <result property="updateAt" column="update_at"/>
        <association property="role" column="role_name" resultMap="roleMap"/>
    </resultMap>

    <resultMap id="userLoginMap" type="com.archive.archive_project_backend.entity.UserLogin">
        <id property="userLoginId" column="user_login_id"/>
        <result property="userid" column="userid"/>
        <result property="passwd" column="passwd"/>
        <result property="userUuid" column="user_info_uuid"/>
        <result property="createAt" column="create_at"/>
        <result property="updateAt" column="update_at"/>
    </resultMap>

    <resultMap id="roleMap" type="com.archive.archive_project_backend.entity.Role">
        <id property="roleId" column="role_id"/>
        <result property="roleName" column="role_name"/>
    </resultMap>
    <!--   @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->

    <select id="getUserByUuid" resultMap="userMap">
        select
            user_info_uuid,
            name,
            bio,
            email,
            banner,
            create_at,
            update_at,
            role_id,
            role_name
        from
            user_info_view
        where
            user_info_uuid = #{uuid}
    </select>

    <select id="getUserByUserid" resultMap="userMap">
        select
            user_info_uuid,
            name,
            bio,
            email,
            banner,
            create_at,
            update_at,
            role_id,
            role_name
        from
            user_info_view
        where
            userid = #{userid}
    </select>

    <select id="getUserLoginById" resultMap="userLoginMap">
        select
            user_login_id,
            userid,
            passwd,
            user_info_uuid,
            create_at,
            update_at
        from
            user_login
        where
            user_login_id = #{id}
    </select>

    <select id="selectUserLoginByUserid" resultMap="userLoginMap">
        select
            user_login_id,
            userid,
            passwd,
            user_info_uuid,
            create_at,
            update_at
        from
            user_login
        where
            userid = #{userid}
    </select>

    <insert id="insertUserInfo">
        insert into
            user_info(user_info_uuid, role_id, name, bio, email, banner, create_at, update_at)
        values
            (#{userUuid}, 2,#{name},#{bio},#{email},#{banner},now(),now())
    </insert>

    <insert id="insertUserLogin">
        insert into
            user_login(user_info_uuid, userid, passwd, create_at, update_at)
        values
            (#{userUuid},#{userid},#{passwd},now(),now())
    </insert>

    <select id="existsUserByUuid" resultType="boolean">
        select exists (
            select
                1
            from
                user_info
            where
                user_info_uuid = #{uuid}
        )
    </select>

</mapper>