<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.archive.archive_project_backend.repository.WritingMapper">

    <resultMap id="seriesMap" type="com.archive.archive_project_backend.entity.Series">
        <id property="seriesUuid" column="series_uuid"/>
        <result property="title" column="series_title"/>
    </resultMap>

    <resultMap id="user" type="com.archive.archive_project_backend.entity.User">
        <id property="userUuid" column="author_uuid"/>
        <result property="name" column="author_name"/>
    </resultMap>

    <resultMap id="category" type="com.archive.archive_project_backend.entity.Category">
        <id property="categoryId" column="category_id"/>
        <result property="subCategory" column="category_name"/>
        <association property="mainCategory" javaType="com.archive.archive_project_backend.entity.MainCategory">
            <id property="mainCategoryId" column="main_category_id"/>
            <result property="mainCategory" column="main_category_name"/>
        </association>
    </resultMap>

    <resultMap id="writingMap" type="com.archive.archive_project_backend.entity.Writing">
        <id property="writingUuid" column="writing_uuid"/>
        <result property="title" column="writing_title"/>
        <result property="content" column="writing_content"/>
        <result property="view" column="view"/>
        <result property="great" column="great"/>
        <result property="commentCount" column="comment_count"/>
        <result property="createAt" column="create_at"/>
        <result property="updateAt" column="update_at"/>
        <result property="seriesOrder" column="series_order"/>
        <association property="series" resultMap="seriesMap"/>
        <association property="author" resultMap="user"/>
        <association property="category" resultMap="category"/>
        <collection property="tag" javaType="list"/>
    </resultMap>


<!--   @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->


    <insert id="insertWriting">
        insert into
            writing(writing_uuid, writing_title, writing_content, series_uuid, series_order, author_uuid, category_id, create_at, update_at)
        values
            (#{writing.writingUuid}, #{writing.title},#{writing.content},#{writing.series.seriesUuid},#{writing.seriesOrder},#{writing.author.userUuid},
            #{writing.category.categoryId},now(),now())
    </insert>

    <select id="selectWritingByUuid" resultMap="writingMap">
        select
            writing_uuid,
            writing_title,
            writing_content,
            view,
            great,
            comment_count,
            series_order,
            create_at,
            update_at,
            category_id,
            main_category_id,
            main_category_name,
            category_name,
            author_uuid,
            author_name,
            series_uuid,
            series_title
        from
            writing_view
        where
            writing_uuid = #{uuid}
    </select>

    <select id="getAuthorUuidByUuid" resultType="string">
        select
            author_uuid
        from
            writing
        where
            writing_uuid = #{uuid}
    </select>

    <select id="selectWritingBySeriesUuid" resultMap="writingMap">
        select
            writing_uuid,
            writing_title,
            writing_content,
            view,
            great,
            comment_count,
            series_order,
            create_at,
            update_at,
            category_id,
            main_category_id,
            main_category_name,
            category_name,
            author_uuid,
            author_name,
            series_uuid,
            series_title
        from
            writing_view
        where
            series_uuid = #{uuid}
    </select>

    <select id="selectWritingByAuthorUuid" resultMap="writingMap">
        select
            writing_uuid,
            writing_title,
            writing_content,
            view,
            great,
            comment_count,
            series_order,
            create_at,
            update_at,
            category_id,
            main_category_id,
            main_category_name,
            category_name,
            author_uuid,
            author_name,
            series_uuid,
            series_title
        from
            writing_view
        where
            author_uuid = #{uuid}
    </select>

    <select id="selectWritingsByStrings" resultMap="writingMap">
        select
            writing_uuid,
            writing_title,
            writing_content,
            view,
            great,
            comment_count,
            series_order,
            create_at,
            update_at,
            category_id,
            main_category_id,
            main_category_name,
            category_name,
            author_uuid,
            author_name,
            series_uuid,
            series_title
        from
            writing_view
        where
            writing_uuid in
            <foreach collection="writingUuidList" item="uuid" open="(" close=")" separator=",">
                #{uuid}
            </foreach>
    </select>

    <select id="getGreatedByUuids" resultType="boolean">
        select exists(
            select
                great_id
            from
                great
            where
                user_info_uuid = #{userUuid} and
                writing_uuid = #{writingUuid}
        )
    </select>

    <select id="getBookmarkedByUuids" resultType="boolean">
        select exists(
            select
                bookmark_id
            from
                bookmark
            where
                user_info_uuid = #{userUuid} and
                writing_uuid = #{writingUuid}
        )
    </select>

    <select id="existsWritingByUuid" resultType="boolean">
        select exists(
            select
                1
            from
                writing
            where
                writing_uuid = #{writingUuid}
        )
    </select>

    <insert id="insertGreated">
        insert into
            great(writing_uuid, user_info_uuid)
        values
            (#{writingUuid}, #{userUuid})
    </insert>

    <delete id="deleteGreated">
        delete from
            great
        where
            user_info_uuid = #{userUuid} and
            writing_uuid = #{writingUuid}
    </delete>

    <delete id="deleteAllGreat">
        delete from
            great
        where
            writing_uuid = #{writingUuid}
    </delete>

    <insert id="insertBookmarked">
        insert into
            bookmark(writing_uuid, user_info_uuid)
        values
            (#{writingUuid}, #{userUuid})
    </insert>

    <delete id="deleteBookmarked">
        delete from
            bookmark
        where
            user_info_uuid = #{userUuid} and
            writing_uuid = #{writingUuid}
    </delete>

    <delete id="deleteAllBookmarked">
        delete from
        bookmark
        where
        writing_uuid = #{uuid}
    </delete>


    <update id="increaseGreat">
        UPDATE writing
        SET great = great + 1
        WHERE writing_uuid = #{writingUuid}
    </update>

    <update id="decreaseGreat">
        UPDATE writing
        SET great = great - 1
        WHERE writing_uuid = #{writingUuid}
    </update>

    <update id="increaseView">
        UPDATE writing
        SET view = view + 1
        WHERE writing_uuid = #{writingUuid}
    </update>

    <update id="decreaseView">
        UPDATE writing
        SET view = view - 1
        WHERE writing_uuid = #{writingUuid}
    </update>

    <delete id="deleteAllComment">
        delete from
            comment
        WHERE writing_uuid = #{uuid}
    </delete>

    <delete id="deleteWritingByUuid">
        delete from
            writing
        where
            writing_uuid = #{uuid}
    </delete>

    <update id="updateCategory">
        update writing
        set category_id = #{categoryId}
        where writing_uuid = #{writingUuid}
    </update>

    <update id="updateContent">
        update writing
        set writing_content = #{content}
        where writing_uuid = #{writingUuid}
    </update>

    <update id="updateTitle">
        update writing
        set writing_title = #{title}
        where writing_uuid = #{writingUuid}
    </update>

    <update id="updateSeries">
        update writing
        set series_uuid = #{seriesUuid}
        <if test="seriesOrder != null">, series_order = #{seriesOrder}</if>
        where writing_uuid = #{writingUuid}
    </update>

    <update id="reorderSeriesOrder">
        update writing
        set series_order = series_order - 1
        where
            series_uuid = #{seriesUuid} and
            series_order &gt;= #{startOrder}
    </update>

    <update id="updateTime">
        update writing
        set update_at = now()
        where writing_uuid = #{writingUuid}
    </update>

    <update id="updateSeriesOrderByList">
        update writing
        set series_order = case writing_uuid
            <foreach collection="writingList" index="i" item="writing">
                when #{writing.writingUuid} then #{i} + 1
            </foreach>
            else 0
        end
        where
            writing_uuid in
            <foreach collection="writingList" item="writing" open="(" close=")" separator=",">
                #{writing.writingUuid}
            </foreach>
    </update>
</mapper>