<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.archive.archive_project_backend.repository.WritingMapper">

    <resultMap id="seriesMap" type="com.archive.archive_project_backend.entity.Series">
        <id property="seriesUuid" column="series_uuid"/>
        <result property="title" column="series_title"/>
        <result property="view" column="series_view"/>
        <result property="createAt" column="series_create_at"/>
        <result property="updateAt" column="series_update_at"/>
    </resultMap>

    <resultMap id="user" type="com.archive.archive_project_backend.entity.User">
        <id property="userUuid" column="user_uuid"/>
    </resultMap>

    <resultMap id="category" type="com.archive.archive_project_backend.entity.Category">
        <id property="categoryId" column="category_id"/>
        <result property="mainCategory" column="main_category_name"/>
        <result property="subCategory" column="category_name"/>
    </resultMap>

    <resultMap id="writingMap" type="com.archive.archive_project_backend.entity.Writing">
        <id property="writingUuid" column="writing_uuid"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="view" column="view"/>
        <result property="great" column="great"/>
        <result property="createAt" column="create_at"/>
        <result property="updateAt" column="update_at"/>
        <association property="series" resultMap="seriesMap"/>
        <association property="author" resultMap="user"/>
        <association property="category" resultMap="category"/>
        <collection property="tag" javaType="list"/>
    </resultMap>


<!--   @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->


    <insert id="insertWriting">
        insert into
            writing(writing_uuid, title, content, series_uuid, author_uuid, category_id, create_at, update_at)
        values
            (#{writingUuid}, #{title},#{content},#{series.seriesUuid},#{author.userUuid},
            #{category.categoryId},now(),now())
    </insert>

    <select id="selectWritingByUuid" resultMap="writingMap">
        select
            w.writing_uuid,
            w.title,
            w.content,
            w.view,
            w.great,
            w.create_at,
            w.update_at,
            c.category_id,
            c.main_category_name,
            c.category_name,
            u.user_info_uuid,
            s.series_uuid
        from
            writing w
        left join user_info u on w.author_uuid = u.user_info_uuid
        left join category_view c on w.category_id = c.category_id
        left join series s on s.series_uuid = w.series_uuid
        where
            w.writing_uuid = #{uuid}
    </select>

    <select id="getGreatedByUuids" resultType="boolean">
        select exists(
            select
                great_id
            from
                great
            where
                user_info_uuid = #{userUuid} and
                writing_uuid = #{writingUuid}
        )
    </select>

    <select id="getBookmarkedByUuids" resultType="boolean">
        select exists(
            select
                bookmark_id
            from
                bookmark
            where
                user_info_uuid = #{userUuid} and
                writing_uuid = #{writingUuid}
        )
    </select>
</mapper>